CMakeCache.txt
CMakeFiles/
cmake_install.cmake
config/BuildSettings.cmake
config/LibDeps.cmake
src/cmake_install.cmake
src/config/
config/mod_ruby.conf
debian/changelog
*.gitmap
include/apr.h
include/common.h
include/platform.h
src/config.h
*.so.*
*.so
*.a
*.swp
Makefile
src/Makefile

