Source: mod-ruby
Priority: optional
Maintainer: Michael Owens <mike@mikeowens.ws>
Build-Depends: debhelper (>= 5), apache2-dev, 
 libapr1-dev, libaprutil1-dev, flex, cmake (>= 2.6.2)
Standards-Version: 3.8.0
Section: libs

Package: mod-ruby
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2
Description: Ruby web framework for the Apache web server.
 A compact, modular Ruby web framework for Apache web server.

Package: mod-ruby-git
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2
Description: Ruby web framework for the Apache web server.
 Development install.
